@model ContactMessage
<main class="main">

    <!-- Contact Section -->
    <section id="contact" class="contact section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Contact</h2>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-5">

                    <div class="info-wrap">
                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-geo-alt flex-shrink-0"></i>
                            <div>
                                <h3>Address</h3>
                                <p>203 Nizami St, Baku</p>
                            </div>
                        </div><!-- End Info Item -->


                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-envelope flex-shrink-0"></i>
                            <div>
                                <h3>Email Us</h3>
                                <p>cavidsly@gmail.com</p>
                            </div>
                        </div><!-- End Info Item -->

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.421128372568!2d49.85149987552579!3d40.37735815803545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d077c61fef3%3A0xfa4594c97092ca01!2sAF%20Business%20House!5e0!3m2!1str!2saz!4v1750963097109!5m2!1str!2saz"
                                frameborder="0" style="border:0; width: 100%;
                height: 270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

                <div class="col-lg-7">
                    <form asp-action="Send" asp-controller="Contact" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                        @Html.AntiForgeryToken()
                        <div class="row gy-4">

                            <div class="col-md-6">
                                <label asp-for="Name" class="pb-2"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="col-md-6">
                                <label asp-for="Email" class="pb-2"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="col-md-12">
                                <label asp-for="Subject" class="pb-2"></label>
                                <input asp-for="Subject" class="form-control" />
                                <span asp-validation-for="Subject" class="text-danger"></span>
                            </div>

                            <div class="col-md-12">
                                <label asp-for="Message" class="pb-2"></label>
                                <textarea asp-for="Message" rows="10" class="form-control"></textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>
                            </div>

                            <div class="col-md-12 text-center">
                                @if (TempData["Success"] != null)
                                {
                                    <div class="sent-message">@TempData["Success"]</div>
                                }
                                else if (TempData["Error"] != null)
                                {
                                    <div class="error-message">@TempData["Error"]</div>
                                }
                                <button type="submit">Send Message</button>
                            </div>

                        </div>
                    </form>

                </div><!-- End Contact Form -->

            </div>

        </div>

    </section><!-- /Contact Section -->

</main>
