<main class="main">

    <!-- Resume Section -->
    <section id="resume" class="resume section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Resume</h2>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row">

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">Sumary</h3>

                    <div class="resume-item pb-0">
                        <h4>Cavid Suleymanli</h4>
                        <p>
                            Passionate and results-driven Backend Developer and DevOps Engineer with nearly 4 years of hands-on
                            experience in designing, developing, and deploying scalable backend services and robust infrastructure
                            solutions. Experienced in building secure APIs, optimizing server performance, managing CI/CD
                            pipelines, and automating cloud infrastructure.
                        </p>
                        <ul>
                            <li>Baku, Azerbaijan</li>
                            <li>cavidsly@gmail.com</li>
                        </ul>
                    </div><!-- Edn Resume Item -->

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Azerbaijan Technology University &amp; Bachelor's Degree in Computer Engineering</h4>
                        <h5>2021 - 2025</h5>
                        <p><em>Baku, Azerbaijan</em></p>
                        <p>
                            Focused on core principles of computer science, software engineering, and system architecture. Gained a
                            strong foundation in programming languages, database management, computer networks, and operating
                            systems. Completed academic projects involving backend development, web services, and system
                            optimization.
                        </p>
                    </div><!-- Edn Resume Item -->

                    <div class="resume-item">
                        <h4>Code Academy &amp; Full-Stack Programming</h4>
                        <h5>2023 - 2024</h5>
                        <p><em>Baku, Azerbaijan</em></p>
                        <p>
                            Completed an intensive, hands-on coding bootcamp covering full stack web development. Specialized in
                            backend development and DevOps practices, including server
                            management, API development, CI/CD pipelines, and cloud deployment.
                        </p>
                    </div><!-- Edn Resume Item -->

                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Full-Stack Developer & DevOps Engineer</h4>
                        <h5>2021 — Present</h5>
                        <p><em>Baku, Azerbaijan </em></p>
                        <ul>
                            <li>
                                Created and managed MySQL and PostgreSQL databases, including data modeling and performance
                                optimization.
                            </li>
                            <li>
                                Set up and maintained CI/CD pipelines using GitHub Actions, Docker, and Nginx for automated
                                deployment and infrastructure management.
                            </li>
                            <li>
                                Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the
                                design
                            </li>
                            <li>
                                Implemented DevOps practices including server provisioning, process automation, and performance
                                monitoring.
                            </li>
                        </ul>
                    </div><!-- Edn Resume Item -->

                    <div class="resume-item">
                        <h4>Backend Developer — Code for Future Project (Code Academy)</h4>
                        <h5>2023-2024</h5>
                        <p><em>Baku, Azerbaijan</em></p>
                        <ul>
                            <li>
                                Participated in the #CodeForFuture program organized by Code Academy, focusing on advanced backend
                                development principles and DevOps methodologies.
                            </li>
                            <li>Developed and maintained scalable and secure RESTful APIs for simulated real-world projects.</li>
                            <li>
                                Worked with cloud infrastructure deployment, optimizing application performance and server
                                configurations.
                            </li>
                        </ul>
                    </div><!-- Edn Resume Item -->

                </div>

            </div>

        </div>

    </section><!-- /Resume Section -->

</main>