
<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

        <img src="~/assets/img/Computer Of A Programmer With Lines Code Of Software Background, Internet, Software, Programmer Background Image And Wallpaper for Free Download.jfif"
             alt="" data-aos="fade-in">

        <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h2 style="color: aliceblue;">Cavid Süleymanlı</h2>
                    <p style="color: aliceblue;">I'm a Backend Developer and DevOps</p>
                    <a href="about.html" class="btn-get-started">About Me</a>
                </div>
            </div>
        </div>

    </section><!-- /Hero Section -->

</main>